* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
   &.is--paused__in__body {
      user-select: none;
      -webkit-user-select: none;
      -webkit-touch-callout: none;
      text-size-adjust: none;
      -webkit-text-size-adjust: none;
      touch-action: manipulation;
   }
}

main {
   width: 1200px;
   margin: 0 auto;
}

h1,
h2,
h3 {
   font-size: 1.75rem;
   font-weight: 900;
   margin-bottom: 1.25rem;
}

img,
video {
   max-width: 100%;
   display: block;
}

.slider {
   display: grid;

   .slider__contents {
      display: grid;
      grid-area: 1/1;

      .slider__item {
         grid-area: 1/1;
         opacity: 0;
         visibility: none;

         &.is--active {
            opacity: 1;
            visibility: visible;
         }
      }
   }

   .slider__controls {
      display: grid;
      grid-area: 1/1;
      grid-template-columns: 1fr 1fr;
      position: relative;

      button {
         opacity: 0;
      }

      .thumb {
         display: flex;
         position: absolute;
         width: 100%;
         pointer-events: none;

         > span {
            display: block;
            flex: 1;
            height: 0.25rem;
            margin: 0.25rem;
            border-radius: 0.125rem;
            background: rgba($color: #000000, $alpha: 0.3);
            overflow: hidden;
            isolation: isolate;
         }

         .thumb__item {
            &.is--active__thumb {
               display: block;
               height: inherit;
               background: rgba($color: #fff, $alpha: 0.9);
               border-radius: 0.25rem;
               transform: translateX(-100%);
               animation: thumbAnimation 3s forwards linear running;
            }

            &.is--paused__thumb {
               animation-play-state: paused;
            }
         }

         @keyframes thumbAnimation {
            to {
               transform: initial;
            }
         }
      }
   }
}
